.landing-page {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.home-page {
  display: flex;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, #e6a1e3, #7508f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}